body{
  background-color: #191f1e;
  justify-content: center;
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #378C84;
  width: 70%;
  padding-bottom: 10px;
}
input{
  width: 30%;
  height: 30px;
}
h2,h3{
  color: #378C84;
  margin-top: 15px;
  margin-bottom: 15px;
}
button{
  width: 30%;
  background-color: white ;
  color: #191f1e;
  height: 30px;
  font-size: 20px;
  border: none;
}
button:hover{
  width: 30%;
  background-color: #378C84;
  color: #191f1e;
  height: 30px;
  font-size: 20px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
